# Analyse RFM

RFM Analysis. It is a marketing technique used to quantitatively determine which customers are the best ones by examining their shopping behaviour – how recently a customer has purchased (recency), how often they purchase (frequency), and how much the customer spends (monetary). RFM analysis is based on an extension of Pareto’s principle which says that “80% of your business comes from 20% of your customers.“

Customers who have purchased more recently, more frequently, and have spent more money, are likelier to buy again. But those who haven’t, are less valuable for the company and therefore, likely to churn. RFM stands for:

**Recency – How recently did the customer purchase?**
Recency is the most important predictor of who is more likely to show loyalty towards your brand. Customers who have purchased recently from you are more likely to purchase again from you compared to those who did not purchase recently.

**Frequency – How often do they purchase?**
The second most important factor is how frequently these customers purchase from you. The higher the frequency, the higher is the chances of such customers making a repeat purchase.

**Monetary – How much money do they spend (average basket value)?**

<img src="http://www.wiseguysmarketing.com/wp-content/uploads/2016/03/RFM.png">

In [1]:
import sys
sys.version

'3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 19:07:31) \n[GCC 7.3.0]'

In [2]:
import datetime
now = datetime.datetime.now()
print(now)

2020-08-04 14:13:53.641065

In [3]:
import pandas as pd

## 1. Fichier des transactions

In [4]:
ventes = pd.read_csv("https://raw.githubusercontent.com/retkowsky/RFM/master/transactions.csv", delimiter=',')
ventes.head(10)

,Code_Client,Date Achat,Numero Commande,Numero Ligne Produit,Code Produit,Quantite,PrixVenteTTCHorsRemise,PrixVenteTTCAvecRemise,Heure,Code Magasin,CodeVendeur,Montant
0,495501.0,2017-01-01 00:00:00,12026.0,2.0,25441.0,1.0,41.333,41.333,1639.0,10000.0,28.0,41.333
1,495501.0,2017-01-01 00:00:00,12026.0,1.0,23768.0,1.0,32.400,32.400,1639.0,10001.0,28.0,32.400
2,1797430.0,2017-01-01 00:00:00,12001.0,3.0,82509.0,1.0,0.667,0.000,1607.0,10002.0,20.0,0.667
3,2248471.0,2017-01-01 00:00:00,12060.0,2.0,1856.0,1.0,12.000,11.400,1830.0,10002.0,31.0,12.000
4,2248499.0,2017-01-01 00:00:00,12004.0,1.0,36367.0,1.0,47.587,47.587,1610.0,10002.0,23.0,47.587
5,2248528.0,2017-01-01 00:00:00,12024.0,1.0,87914.0,1.0,11.600,11.600,1632.0,10001.0,4.0,11.600
6,2248820.0,2017-01-01 00:00:00,12057.0,5.0,72607.0,1.0,10.533,10.533,1820.0,10000.0,26.0,10.533
7,2248820.0,2017-01-01 00:00:00,12057.0,4.0,90140.0,1.0,6.933,6.933,1820.0,10000.0,26.0,6.933
8,2255804.0,2017-01-01 00:00:00,12067.0,1.0,89462.0,1.0,26.587,26.587,1906.0,10001.0,26.0,26.587
9,2267053.0,2017-01-01 00:00:00,12053.0,1.0,79081.0,1.0,100.800,100.800,1808.0,10000.0,31.0,100.800

In [5]:
ventes.describe()

,Code_Client,Numero Commande,Numero Ligne Produit,Code Produit,Quantite,PrixVenteTTCHorsRemise,PrixVenteTTCAvecRemise,Heure,Code Magasin,CodeVendeur,Montant
count,4.411000e+03,4411.000000,4411.000000,4411.000000,4411.000000,4411.000000,4411.000000,4411.000000,4411.000000,4411.000000,4411.000000
mean,3.247793e+06,12307.737928,2.300159,78992.072319,1.012469,35.309243,32.489602,1454.219225,10000.150306,17.462934,35.455786
std,1.264739e+06,8547.264548,2.048316,35480.470064,0.238245,29.400703,27.893240,267.312613,0.432612,11.183510,29.874411
min,1.269930e+05,430.000000,1.000000,4.000000,1.000000,0.000000,-4.707000,904.000000,10000.000000,1.000000,0.000000
25%,2.310253e+06,3773.500000,1.000000,52874.000000,1.000000,11.867000,10.533000,1237.000000,10000.000000,8.000000,11.867000
50%,2.767146e+06,11765.000000,2.000000,90303.000000,1.000000,26.960000,25.200000,1452.000000,10000.000000,22.000000,27.067000
75%,3.847057e+06,16488.500000,3.000000,106375.500000,1.000000,51.733000,48.200000,1657.000000,10000.000000,27.000000,51.867000
max,7.490767e+06,27955.000000,28.000000,140136.000000,11.000000,314.667000,305.120000,2017.000000,10002.000000,90.000000,336.000000

In [6]:
import datetime as dt
NOW = dt.datetime(2019,1,22)

In [7]:
ventes['Date Achat'] = pd.to_datetime(ventes['Date Achat'])

In [8]:
TableRFM = ventes.groupby('Code_Client').agg({'Date Achat': lambda x: (NOW - x.max()).days, # Recency
                                        'Numero Commande': lambda x: len(x),      # Frequency
                                        'Montant': lambda x: x.sum()}) # Monetary Value

TableRFM['Date Achat'] = TableRFM['Date Achat'].astype(int)
TableRFM.rename(columns={'Date Achat': 'Récence', 
                         'Numero Commande': 'Fréquence', 
                         'Montant': 'Montant'}, inplace=True)

## 2. Analyse RFM

In [9]:
TableRFM.head(10)

             Récence  Fréquence  Montant
Code_Client
126993.0         174        1.0   26.000
214674.0         143        3.0  116.800
318696.0         113        2.0   73.734
438711.0         327        3.0  102.134
495501.0         438        3.0  108.933
918238.0         600        1.0   80.667
1090522.0        292        1.0   31.467
1315018.0        355        1.0   20.000
1419361.0        265        1.0   39.333
1419459.0        438        2.0   92.667

In [10]:
# Historique pour un client donné
Client438711 = ventes[ventes['Code_Client']==438711]
Client438711

,Code_Client,Date Achat,Numero Commande,Numero Ligne Produit,Code Produit,Quantite,PrixVenteTTCHorsRemise,PrixVenteTTCAvecRemise,Heure,Code Magasin,CodeVendeur,Montant
2388,438711.0,2018-03-01,4596.0,2.0,118557.0,1.0,44.800,44.800,1337.0,10000.0,2.0,44.800
2389,438711.0,2018-03-01,4596.0,1.0,78270.0,1.0,30.267,30.267,1337.0,10000.0,2.0,30.267
2390,438711.0,2018-03-01,4602.0,1.0,21887.0,1.0,27.067,13.733,1346.0,10000.0,2.0,27.067

In [11]:
quantiles = TableRFM.quantile(q=[0.25,0.5,0.75])

In [12]:
quantiles

      Récence  Fréquence  Montant
0.25    265.0        1.0  27.8265
0.50    355.0        1.0  53.0670
0.75    438.0        2.0  87.7000

In [13]:
quantiles = quantiles.to_dict()

In [14]:
quantiles

{'Récence': {0.25: 265.0, 0.5: 355.0, 0.75: 438.0},
 'Fréquence': {0.25: 1.0, 0.5: 1.0, 0.75: 2.0},
 'Montant': {0.25: 27.826500000000003,
  0.5: 53.06699999999999,
  0.75: 87.69999999999999}}

In [15]:
SegmentationRFM = TableRFM

In [16]:
# Arguments (x = value, p = recency, monetary_value, frequency, k = quartiles dict)
def RClass(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
# Arguments (x = value, p = recency, monetary_value, frequency, k = quartiles dict)
def FMClass(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [17]:
SegmentationRFM['R_Quartile'] = SegmentationRFM['Récence'].apply(RClass, args=('Récence',quantiles,))
SegmentationRFM['F_Quartile'] = SegmentationRFM['Fréquence'].apply(FMClass, args=('Fréquence',quantiles,))
SegmentationRFM['M_Quartile'] = SegmentationRFM['Montant'].apply(FMClass, args=('Montant',quantiles,))

In [18]:
SegmentationRFM['RFMClass'] = SegmentationRFM.R_Quartile.map(str) \
                            + SegmentationRFM.F_Quartile.map(str) \
                            + SegmentationRFM.M_Quartile.map(str)

In [19]:
SegmentationRFM.head(20)

,Récence,Fréquence,Montant,R_Quartile,F_Quartile,M_Quartile,RFMClass
Code_Client,,,,,,,
126993.0,174,1.0,26.000,1,4,4,144
214674.0,143,3.0,116.800,1,1,1,111
318696.0,113,2.0,73.734,1,2,2,122
438711.0,327,3.0,102.134,2,1,1,211
495501.0,438,3.0,108.933,3,1,1,311
918238.0,600,1.0,80.667,4,4,2,442
1090522.0,292,1.0,31.467,2,4,3,243
1315018.0,355,1.0,20.000,2,4,4,244
1419361.0,265,1.0,39.333,1,4,3,143
1419459.0,438,2.0,92.667,3,2,1,321
1470727.0,327,1.0,56.400,2,4,2,242
1470729.0,393,1.0,8.267,3,4,4,344
1470850.0,438,1.0,47.200,3,4,3,343
1470868.0,748,1.0,5.467,4,4,4,444
1484775.0,143,1.0,40.000,1,4,3,143
1484998.0,373,1.0,76.267,3,4,2,342
1542405.0,265,5.0,486.934,1,1,1,111
1560817.0,504,1.0,59.467,4,4,2,442
1568148.0,438,1.0,29.733,3,4,3,343
1609043.0,174,1.0,70.667,1,4,2,142

## Tri par score RFM décroissant

In [20]:
SegmentationRFM.sort_values(by=['RFMClass'], ascending=[False])

,Récence,Fréquence,Montant,R_Quartile,F_Quartile,M_Quartile,RFMClass
Code_Client,,,,,,,
2273695.0,748,1.0,22.133,4,4,4,444
2248528.0,751,1.0,11.600,4,4,4,444
4215108.0,748,1.0,13.333,4,4,4,444
2255804.0,751,1.0,26.587,4,4,4,444
4209466.0,692,1.0,26.000,4,4,4,444
...,...,...,...,...,...,...,...
5035631.0,38,4.0,130.254,1,1,1,111
5093099.0,265,3.0,108.400,1,1,1,111
2307972.0,143,7.0,284.401,1,1,1,111
2304731.0,113,3.0,106.666,1,1,1,111
3651346.0,113,3.0,258.534,1,1,1,111

## 3. Exportation des résultats

In [21]:
SegmentationRFM.to_csv('SegmentationRFM.csv', sep=',')

In [22]:
SegmentationRFM.to_excel('SegmentationRFM.xlsx')

In [23]:
%ls S*.* -l

-rwxrwxrwx 1 root root 84008 Aug  4 14:14 SegmentationRFM.csv*
-rwxrwxrwx 1 root root 89388 Aug  4 14:14 SegmentationRFM.xlsx*